.card {
    background: #E7E5E5;
    color: #242424;
    border-radius: 6px;
    padding: 1rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__title {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.card__status {
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
    font-size: 0.9rem;
    background: #eee;
}

/* Différentes classes en fonction du statut */
.status--active {
    background: #c8ffc8;
}

.status--stopped {
    background: #ffc8c8;
}

.status--unknown {
    background: #e0e0e0;
}

.card__body {
    margin-top: 1rem;
    flex-grow: 1;
}

.card__footer {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-top: 1rem;
}

.card__footer button {
    background: #333;
    color: #fff;
    border: none;
    padding: 0.3rem 0.5rem;
    border-radius: 4px;
    cursor: pointer;
}

.card__footer button:hover {
    background: #555;
}