@import "https://cdn.jsdelivr.net/npm/@vue-flow/core@1.41.7/dist/style.css";
@import "https://cdn.jsdelivr.net/npm/@vue-flow/core@1.41.7/dist/theme-default.css";
@import "https://cdn.jsdelivr.net/npm/@vue-flow/controls@latest/dist/style.css";
@import "https://cdn.jsdelivr.net/npm/@vue-flow/minimap@latest/dist/style.css";
@import "https://cdn.jsdelivr.net/npm/@vue-flow/node-resizer@latest/dist/style.css";

.math-flow {
  background-color: #edf2f7;
  height: 100%;
  width: 100%;
}

.vue-flow__handle {
  height: 24px;
  width: 10px;
  background: #aaa;
  border-radius: 4px;
}

.vue-flow__edges path {
  stroke-width: 3;
}

.vue-flow__node {
  background-color: #f3f4f6;
}

[class*="vue-flow__node-"] input {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 10px #0000001a;
}

[class*="vue-flow__node-"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 16px 24px;
  border-radius: 8px;
  box-shadow: 0 0 10px #0003;
}

[class*="vue-flow__node-"] .buttons {
  display: flex;
  gap: 8px;
}

[class*="vue-flow__node-"] button {
  border: none;
  cursor: pointer;
  background-color: #4a5568;
  border-radius: 8px;
  color: #fff;
  box-shadow: 0 0 10px #0000004d;
  width: 40px;
  height: 40px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

[class*="vue-flow__node-"] button svg {
  width: 100%;
  height: 100%;
}

.vue-flow__node-customFilter.selected {
  box-shadow: 0 0 0 2px #2563eb;
}

.vue-flow__node-customFilter .vue-flow__handle {
  background-color: #2563eb;
}

[class*="vue-flow__node-"]:has(> .type-_IN).selected {
  box-shadow: 0 0 0 2px #ec4899;
}

[class*="vue-flow__node-"]:has(> .type-_IN) .vue-flow__handle {
  background-color: #ec4899;
}

[class*="vue-flow__node-"]:has(> .type-_OUT).selected {
  box-shadow: 0 0 0 2px #5ec697;
}

[class*="vue-flow__node-"]:has(> .type-_OUT) .vue-flow__handle {
  background-color: #5ec697;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.node-item {
  padding: 0.5rem;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 4px;
  min-width: 100px;
  min-height: 60px;
  cursor: pointer;
  user-select: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.node-item__header {
  font-weight: bold;
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
}

.node-item__body {
  color: #444;
}
